
.nav-btn {
    background-color: #4A5568;
    width: 25px;
    height: 25px;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
}

.nav-btn:hover {
    background-color: #718096;
}

@media (min-width: 62rem) {
    .nav-btn {
        display: none;
    }
}

@media (max-width: 30rem) {
    .nav-btn {
        background-color: #4A5568;
        width: 15px;
        height: 15px;
        margin: 10px;
        padding: 5px;
        border-radius: 3px;
    }
}